{% extends 'iplfreak/base.html' %}

{% block title %}
    {{ team_name }} {{ year }}
{% endblock %}

{% block image %}
    {% if request.user.is_authenticated %}
        <figure class="image is-64x64">
            <img class="is-rounded" src="/media/{{ profile_pic }}" alt="Image">
        </figure>
    {% endif %}
{% endblock %}

{% block content %}
    <h1 class="title is-3">{{ team_name }} in {{ year }}</h1>
    <h2 class="subtitle is-4">
        Played: {{ played }},
        Won: {{ won }},
        Win Percentage: {{ win_percentage }}%
    </h2>

    <hr>
    <h1 class="title is-4">Best Players</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <td>Player</td>
                <td>Man of the Match Awards</td>
            </tr>
        </thead>
        <tbody>
            {% for player in best_players %}
                <tr>
                    <td>{{ player.player_of_the_match }}</td>
                    <td>{{ player.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h1 class="title is-4">Top Run Scorers</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <td>Batsmen</td>
                <td>Runs Scored</td>
            </tr>
        </thead>
        <tbody>
            {% for player in best_batsman %}
                <tr>
                    <td>{{ player.batsman }}</td>
                    <td>{{ player.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h1 class="title is-4">Top Wicket Takers</h1>
    <table class="table is-fullwidth">
        <thead>
            <tr>
                <td>Bowler</td>
                <td>Wickets taken</td>
            </tr>
        </thead>
        <tbody>
            {% for bowler in best_bowlers %}
                <tr>
                    <td>{{ bowler.bowler }}</td>
                    <td>{{ bowler.total }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <hr>
    <h1 class="title is-4">Recent Matches: </h1>
    {% for match in recent_matches %}
        <div class="columns">
            <div class="column is-1"></div>
            <div class="column">
                <div class="card is-rounded">
                    <div class="card-content">
                        <span class="is-size-4"><b class="is-bold">{{ match.team1 }}</b> <span class="has-text-success">vs</span> <b>{{ match.team2 }}</b><a class="tag is-link is-pulled-right" href="{% url 'match_details' year match.match_id %}">View Match details</a></span>
                        <br>
                        <span class="has-text-danger">{{ match.winner }} won the match</span> <br>
                    </div>
                    <div class="card-footer has-background-grey-lighter">
                        <h4 class="card-footer-item">{{ match.toss_winner }} Won the toss and chose to
                            {% if match.toss_decision == 1 %} bat {% else %} field {% endif %} </h4>
                        <h4 class="card-footer-item"> Venue: {{ match.venue }}</h4>
                        <h4 class="card-footer-item">Man of the match: {{ match.player_of_the_match }}</h4>
                    </div>
                </div>
            </div>
            <div class="column is-1"></div>
        </div>
    {% endfor %}
{% endblock %}